/* ДОБАВИТЬ ШРИФТЫ И ПРОСМОТРЕТЬ КОММЕНТАРИИ ДАЛЕЕ!!! */

/* Удалить секцио template!!! Это для демонстрации выезжающего списка. */
.template {
    height: auto;
    width:1920px;
    padding: 75px 0 75px;
    background-color: tomato;
}

#scroll-helper {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
}

#achievements {
    position: relative;
    width: 1920px;
    padding: 75px 0 75px;
    overflow: hidden;
    /* background: no-repeat top 27px right url('../img/Logo.svg'), #F5F5F5; */
}

.background-svg{
    position: absolute;
    top: 27px;
    right:-5px;
}

.achievements-list {
    margin: 0;
    padding: 0;
list-style: none;
}

.achievement {
    margin:0;
    background: #047235;
    border-radius: 0px 100px 100px 0px;
    transform: translateX(-100%);
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.achievement.visible {
transform: translateX(0%);
}

.achievement:hover >
.achievement-count__wrapper {
    background: #59B730;
}

#achievement1 {
    width: 574px;
}

#achievement2 {
    margin-top: 34px;
    width: 744px;
}

#achievement3 {
    margin-top: 34px;
    width: 944px;
}

#achievement4 {
    margin-top: 34px;
    width: 1144px;
}

#achievement5 {
    margin-top: 26px;
    width: 1344px;
}

#achievement6 {
    margin-top: 26px;
    width: 1544px;
}

.achievement-count {
font-style: normal;
font-weight: 800;
font-size: 50px;
line-height: 1.12;
margin: 0;
}

.achievement-count_description {
font-style: normal;
font-weight: 800;
font-size: 28px;
line-height: 1.12;
margin: 0;
}

.achievement-count__wrapper{
    display: block;
    padding: 10px 0 19px;
    text-align: center;
    width: 255px;
    border-radius: 100px;
    margin: 0 0 0 auto;
    color: #fff;
    background-color: none;
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* !!!!!!!! Надо изменить на max-width: 573px !!!!!!! */

.achievement-about {
    position: absolute;
    top: 7%;
    right: 19%;
    max-width: 473px; 
    text-align: left;
}

.achievement-about__title {
    margin: 0;
    font-style: normal;
    font-weight: 800;
    font-size: 38px;
    line-height: 1.21;
    color:#424242;
}

.achievement-about__description {
    margin: 21px 0 0;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 1.23;
    color:#424242;
}

@keyframes circleAnime {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    5% {
        opacity: 0;
    transform: scale(0);
    }
    10%{
        opacity: 1;
        transform: scale(1);
    }

    95% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(0);
    }
}


.motion0 {
   transform-origin: center;
   animation: circleAnime 6000ms ease-in-out 0ms infinite;
}
.motion1 {
    animation: myAnime1 6000ms ease-in-out 0ms infinite;
}
.motion2 {
    animation: myAnime2 6000ms ease-in-out 0ms infinite;
}
.motion3 {
    animation: myAnime3 6000ms ease-in-out 0ms infinite;
}
.motion4 {
    animation: myAnime4 6000ms ease-in-out 0ms infinite;
}
.motion5 {
    transform-origin: 75% 30%;
    animation: myAnime5 6000ms ease-in-out 0ms infinite;
}
.motion6 {
    transform-origin: 25% 70%;
    animation: myAnime6 6000ms ease-in-out 0ms infinite;
}

@keyframes myAnime1 {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }

    22% {
        opacity: 1;
    }

    95% {
        opacity: 1;
    }

    98% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@keyframes myAnime2 {
    0% {
        opacity: 0;
    }

    34% {
        opacity: 0;
    }
    36% {
        opacity: 1;
    }

    95% {
        opacity: 1;
    }

    98% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@keyframes myAnime3 {
    0% {
        opacity: 0;
    }

48% {
    opacity: 0;
}
    50% {
        opacity: 1;
    }

    95% {
        opacity: 1;
    }

    98% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@keyframes myAnime4 {
    0% {
        opacity: 0;
    }

    62% {
        opacity: 0;
    }
    64% {
        opacity: 1;
    }

    95% {
        opacity: 1;
    }

    98% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@keyframes myAnime5 {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    76% {
        opacity: 0;
        transform: scale(0);
    }
    78% {
        opacity: 1;
        transform: scale(1);
    }

    95% {
        opacity: 1;
        transform: scale(1);
    }

    98% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 0;
    }
}
@keyframes myAnime6 {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    88% {
        opacity: 0;
        transform: scale(0);
    }
    90% {
        opacity: 1;
        transform: scale(1);
    }

    95% {
        opacity: 1;
        transform: scale(1);
    }
    98% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 0;
    }
}