.splide {
    overflow-x: hidden;
}

.splide__list {
    width: 1920px;
    height: 715px;
    background: #FAFAFA;
}

#main-img {
    display: block;
    width: 100%;
}

.splide__slide__container {
    position: relative;
    width: 100%;
    background: #FFFFFF;
}

.splide__slide__container > img {
    display: block;
    width: 100%;
    height: 100%;
}

.splide__slide.item-top-wrapper {
    height: 715px;
}

.slider-item-wrapper {
    position: relative;
    margin: 188px 0 88px;
    width: 630px;
    height: 328px;
}

#tns1 > .current-slide .slider-item-wrapper {
    position: relative;
    margin: 105px 0 88px;
    width: 830px;
    height: 434px;
}

.item-top-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#tns1 > .item-top-wrapper.current-slide {
    width: 830px;
    height: 434px;
    transform: scale(1);
}

#tns1 > .item-top-wrapper {
width: 630px;
height: 328px;
transform: scale(0.95);
transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

#tns1 > .item-top-wrapper.current-slide .slider-backdrop-helper {
    position: relative;
        position: absolute;
        top: 0;
        left: -4%;
        width: 830px;
        height: 100%;
}
.slider-backdrop-helper::before {
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     height: 100%;
     width: 100%;
     background-image: linear-gradient(to right, rgba(33, 33, 33, 0.8), rgba(33, 33, 33, 0.8));
     z-index: 10;
}

#tns1 > .current-slide .slider-backdrop-helper::before {
    display: none;
}

#tns1 > .current-slide .slide-info {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 16px;
    padding: 0;
    background: #FAFAFA;
}

.slide-year {
    position: absolute;
    top: 137px;
    left: 273px;
    transform: translate(0, -50%);
    font-style: normal;
    font-weight: 800;
    font-size: 34px;
    line-height: 41px;
    color: #FFFFFF;
    z-index: 100;
}

.slide-description {
    display: none;
}

#tns1 > .current-slide .slide-description {
    display: block;
    width: 674px;
    width: 550px;
    margin: 0 0 0 49px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #212121;
}

#tns1 > .current-slide .slide-year {
    position: static;
    font-style: normal;
    font-weight: 800;
    font-size: 34px;
    line-height: 41px;
    color: #212121;
    margin: 0;
}

/* ////////////////////  timeline styles //////////////// */
.timeline-points-list {
    position: relative;
    display: flex;
    list-style: none;
    margin: 0 0 85px;
    padding: 0;
    height: 63px;
    transform: translateX(-15px);
}

.timeline-points-list::before {
    content: '';
    position: absolute;
    top: -4px;
    left: 0;
    width: 1935px;
    height: 8px;
    background: #59B730;

}

.timeline-point {
    position: relative;
    width: 192px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 26px;
    color: #212121;
    cursor: pointer;
    transition: font-size 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.timeline-point:hover {
    font-size: 28px;
    line-height: 34px;
    color: #047235;
}

.tns-nav-active.timeline-point {
    font-size: 28px;
    line-height: 34px;
    color: #047235;
}

.timeline-point::before {
    content: '';
    position: absolute;
    top: -7px;
    left: 50%;
    width: 2px;
    height: 14px;
    background: #047235;
}

.timeline-point::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(0, -3px);
    width: 2000px;
    height: 6px;
    background: transparent;
}

.tns-nav-active.timeline-point::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(-5%, -3px);
    width: 100vw;
    height: 6px;
    background: #047235;
    transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}